body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 1rem;
  background: #f8f9fa;
}

canvas {
  padding: 2rem;
  max-width: 100%;
}


/* Header */
.header {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
}

.navbar-brand {
  font-size: 1.5em;
  margin-right: 1em;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 1em;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

.container {
  max-width: 900px;
  margin: 0 auto;
} 